/vendor
/node_modules

.env

/public/storage
/storage/*.key

/bootstrap/cache/*.php
/bootstrap/cache/*.json

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

.idea
.vscode

composer.phar

*.sqlite